body {
  background-color: black;
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 1em;
}

h1 {
  margin: 0;
  font-family: "EB Garamond", serif;
  font-size: 3em;
}

button {
  font-family: "Playfair Display", serif;
  font-size: 1em;
  border: 0;
  margin: 0 6px;
  background-color: white;
  width: 100px;
  height: 25px;
  padding-bottom: 3px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

button:hover {
  text-shadow: 1px 1px 1px #427388;
}

button:focus {
  outline: 0;
}
